@import "tailwindcss";
@plugin "daisyui";


.btn-nav {
  @apply bg-base-100 text-base-content hover:text-[#8BBA45] font-semibold transition-colors duration-300;
}

.btn-auth {
  @apply bg-[#ecf8d9] text-black font-semibold border-none rounded-md transition-colors duration-300;
}

.btn-auth:hover {
  @apply bg-[#8BBA45] text-white;
}